.App {
  text-align: center;
}
h1 {
  font-size: 3.2em;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  transition:
    border-color 0.25s,
    outline 0.25s;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
}

.contact-list-container {
  height: 50vh;
  overflow-y: scroll;
  min-width: 100%;
}
.highlight {
  color: #0056b3;
}

.contact-card {
  display: flex;
  padding: 20px;
  transition: transform 0.2s;
  cursor: pointer;
}

.contact-card .contact-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #eee;
}

.contact-card .contact-info {
  text-align: left;
}
